.mainprofile {
    display:flex;
    height: 100vh;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    



}
img {

border-radius: 5%;
height: 80vh;
display: inline-block;
background-color: rgb(207, 168, 158);
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
margin-left: auto;
margin-right: auto;
background-color: black;

}
body{
    background-color: rgb(231, 227, 219);
}
.dob {
   color: green;
   text-align: center;
   width: 320px;
   background-color: aliceblue;
   margin-left: auto;
   margin-right: auto;
   padding : 0;
    display: inline-block;

}
.name {
    background-color: aliceblue;
    color: green;
   text-align: center;
   width: 320px;
   margin-left: auto;
   margin-right: auto;
   font-size:  60%;
   display: inline-block;
   text-align: center;
   padding:0%;

    
}
.navbar {
    background-color: rgb(53, 21, 21);
    border-radius: 20px;
}
.navbar ul {
    overflow: auto;
}
.navbar li {
    float: left;
    list-style: none;
    padding: 3px 3px;
    margin: 13px 20px;
}
.navbar li a {
    padding: 3px 3px;
    text-decoration: none;
    color: white;

}
.navbar li:hover {
    padding: 3px 3px;
    text-decoration: none;
    background-color: white;
    border-radius: 30px;
}
.navbar li a:hover {
    padding: 3px 3px;
    text-decoration: none;
    color: rgb(53, 21, 21);
}
.search {
    float: right;
    color: white;
    padding: 12px 75px;
    display: flex;
    margin-left: 30px;
}
.navbar input:hover{
    border-radius: 14px;
    text-align: center;
    padding: 6px;
    border: 2px solid black;
    display: flex;
    background-color: rgb(201, 248, 210);
    color: rgb(53, 21, 21);
}
.navbar input {
    border-radius: 14px;
    text-align: center;
    padding: 6px;
    border: 2px solid black;
    display: flex;
} 
.navbar img {
    background-color: rgb(201, 248, 210);
     width: auto; 
     height: 30px;
      border-radius: 50%;

}
