.mainprofile {
    display:flex;
    height: 100vh;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    background-color: aquamarine;



}
img {

border-radius: 5%;
max-width: 100%;
height:auto;
max-height: 70vh;
display: block;
background-color: rgb(207, 168, 158);
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
margin-left: auto;
margin-right: auto;
background-color: black;

}
body{
    background-color: rgb(231, 227, 219);
}
.dob {
   color: green;
   text-align: center;
   width: 12%;
   background-color: aliceblue;
   margin-left: auto;
   margin-right: auto;

}
.name {
    background-color: aliceblue;
    color: green;
   text-align: center;
   width: 12%;
   margin-left: auto;
   margin-right: auto;
    
}