* {
    margin:0%;
    padding: 0%;
    border-radius: 10px;
}
.outSur {
    background-color: rgb(249, 206, 206);
    width: 530px;
    border: solid 3px;
    display: block;
}
.inSur {
    display: flex;
}

.dis {
    background-color: rgb(222, 255, 168);
    width: 500px;
    display: block;
    height:97px;
    margin-left: 10px;
    margin-top: 20px;
    border: solid 3px;
}
.inSur .ing input{
    background-color: rgb(169, 248, 207);
    width: 50px;
    height: 50px;
    margin: 4px;
    border-radius: 6px;

}
.inSur .ing input:hover{
    background-color: rgb(228, 233, 145);
    width: 50px;
    height: 50px;
    margin: 4px;
    border-radius: 6px;
}
.inSur.ing input:active{
    background-color: rgb(53, 125, 73);
    width: 50px;
    height: 50px;
    margin: 4px;
    border-radius: 6px;
}
.inSur .ins input:hover{
    background-color: rgb(248, 218, 218);
    width: 50px;
    height: 50px;
    margin: 4px;
    border-radius: 6px;
}
.inSur input:active{
    background-color: rgb(50, 142, 38);
    width: 50px;
    height: 50px;
    margin: 4px;
    border-radius: 6px;
}
.outSur input{
    background-color: rgb(230, 246, 238);
    width: 50px;
    height: 50px;
    margin: 4px;
    border-radius: 6px;

}
.outSur input:hover{
    background-color: rgb(248, 218, 218);
    width: 50px;
    height: 50px;
    margin: 4px;
    border-radius: 6px;
}
.outSur input:active{
    background-color: rgb(254, 252, 225);
    width: 50px;
    height: 50px;
    margin: 4px;
    border-radius: 6px;
}

/* .in {
    
    width: 506px;
    margin-left: 10px;
    margin-right:10px;
    margin-top: 20px;
    padding: 0%;
    margin-bottom: 20px;
}
.in input{
    background-color: rgb(98, 203, 149);
    width: 50px;
    height: 50px;
    margin: 4px;
    border-radius: 6px;

}
.in input:hover{
    background-color: rgb(228, 233, 145);
    width: 50px;
    height: 50px;
    margin: 4px;
    border-radius: 6px;
}
.in input:active{
    background-color: rgb(180, 234, 195);
    width: 50px;
    height: 50px;
    margin: 4px;
    border-radius: 6px;
}
.ac {
    background-color: rgb(65, 210, 210);
}
.in .science input {
    background-color: rgb(220, 239, 255);
}
.in .science input:hover {
    background-color: rgb(255, 212, 212);
}
.in .science input:active {
    background-color: rgb(209, 182, 160);
} */
/* 

 */
.ing{
    display: block;
}
.ins {
    display: block;
}